/* Base styles */
.contact-section {
  margin-bottom: 30px;
  padding: 0 20px;
}

.contact-section h2 {
  margin: 50px 0;
}

.contact-heading {
  font-size: 2rem;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Ensure even spacing on smaller screens */
  text-align: center;
  gap: 40px;
  align-items: flex-start; /* Align items to prevent cutting off content */
}

/* Each column styling */
.contact-item {
  flex: 1 1 calc(20% - 40px); /* 5 columns on desktop */
  min-width: 150px;
  margin-bottom: 20px;
  transition: transform 0.4s;
}

.contact-item p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-item a, .contact-item span {
  font-size: 1.3rem;
  background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
  color: transparent;
  background-clip: text;
  text-decoration: none;
  display: block;
  margin-top: 8px;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-item:hover {
  transform: scale(1.05);
}

/* Media query for screens 768px and below */
@media (max-width: 768px) {
  .contact-item {
    flex: 1 1 calc(50% - 40px); /* 2 columns per row */
  }

  .contact-section {
    height: auto; /* Adjusts based on content */
    overflow: visible;
    padding-bottom: 40px; /* Ensure content isn't cut off at the bottom */
  }

  .contact-details {
    gap: 20px; /* Reduce gap on smaller screens */
    padding: 10px; /* Prevent content cut-off */
  }

  .contact-heading {
    font-size: 1.5rem; /* Smaller heading for mobile screens */
  }

  .contact-item {
    margin-bottom: 20px;
  }
}

/* Media query for screens 480px and below */
@media (max-width: 480px) {
  .contact-item {
    flex: 1 1 100%; /* 1 column on mobile */
  }

  .contact-section {
    min-height: 100vh; /* Ensures content visibility on mobile */
  }
}
